body {
    font: 13px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color: #333;
    background-color: #fff;
    min-width:1226px;
    margin: 0px;
    padding:0px;
}

a{color:#333; text-decoration:none;}
a:hover{color:#ff6700; text-decoration:none;}

h1,h2,h3,h4,h5,h6,ul,li{ padding:0; margin:0; list-style: none; color:#666; font-style:normal; font-size: 13px;}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.wrap {
	width: 1226px;
	margin: 0 auto;
	position: relative;
}

.site-topbar {
    position: relative;
    z-index: 30;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
}

.topbar-nav {
	float: right;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.site-topbar a {
    color: #b0b0b0;
}

.site-topbar .sep {
    margin: 0 0.5em;
    color: #424242;
    font-family: sans-serif;
}

.site-topbar a:hover {
    color: #fff;
}

.topbar-info {
	float: left;
	height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.modal .input-group {
	margin-bottom: 15px;
}

.modal .xz input {
	vertical-align:top;
	margin-right: 8px;
	margin-left: 5px;
}

.t1 {
	color: #f00;
}

.site-header {
    position: relative;
    z-index: 20;
    height: 100px;
}

.site-header .header-logo {
	float:left;
	margin-top:22px;
}

.site-header .header-nav {
	float:left;
	padding-left: 150px;
	height:100px;
	overflow:hidden;
}

.site-header .header-nav ul li {
	float:left;
	line-height: 100px;
	padding: 0px 18px;
	color: #333;
	font-size: 15px;
}

.site-header .header-search {
    float: right;
    width: 310px;
    margin-top: 33px;
    overflow: hidden;
}

.slide {
	width: 1226px;
	height: 460px;
	margin: 0 auto;
}

.slide a.right  {
    position:absolute;
    top:50%;
    z-index:999;
    width:41px;
    height:69px;
    margin-top:-35px;
    text-indent:-9999px;
    overflow:hidden;
    outline: 0;
    background:url("../images/icon-slides.png") no-repeat -125px 0px;
}

.slide a.left {
    position:absolute;
    top:50%;
    left:234px;
    z-index:999;
    width:41px;
    height:69px;
    margin-top:-35px;
    text-indent:-9999px;
    overflow:hidden;
    outline: 0;
    background:url("../images/icon-slides.png") no-repeat -84px 0px;
}

.slide a.left:hover {
	background-position: 0px 0px;
}

.slide a.right:hover {
	background-position: -42px 0px;
}

.carousel-indicators {
	left:auto;
	right:30px;
	text-align: right;
	margin: 0px;
}

.site-category {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 234px;
    height: 460px;
    font-size: 14px;
    overflow: hidden;
}

.site-category-list {
    height: 460px;
    padding: 20px 0px;
    color: #fff;
    background: #333;
    background: rgba(0,0,0,0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#99000000", endColorstr="#99000000")\9;
}

.site-category-list li a {
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 15px;
    width: 234px;
}

.site-category-list .glyphicon {
	position:absolute;
	top: 14px;
	right: 20px;
	font-size: 14px;
	color: #e0e0e0;
}

.site-category-list li a:hover {
	color: #fff;
	background: #ff6700;
}
       
.row {
	margin-top: 15px;
	margin-left: -10px;
	margin-right: -10px;
} 

.row .col-md-4 {
	padding-left: 10px;
	padding-right: 10px;
}

.page-main {
	background: #f5f5f5;
	padding-top: 30px;
	margin-top: 40px;
	padding-bottom: 30px;
}

.smart {
	height: 672px;
	margin-bottom: 22px;
	overflow: hidden;
}

.smart .box-hd {
	position: relative;
    height: 58px;
    -webkit-font-smoothing: antialiased;
}

.smart .box-hd .title {
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}

.smart .box-hd .more {
    position: absolute;
    top: 0;
    right: 0;
}

.smart .box-hd .more a {
    font-size: 16px;
    line-height: 58px;
    color: #424242;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.smart .box-hd .more a span {
    vertical-align: -2px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-left: 3px;
}

.smart .box-hd .more a:hover {
	color: #ff6700;
}

.smart .box-bd {
	width: 1226px;
}

.smart .box-bd .dleft {
	float:left;
	width: 234px;
	overflow: hidden;
}

.smart .box-bd .dleft a {
	display: block;
	width: 234px;
}

.smart .box-bd .dleft a.last {
	margin-top: 14px;
}

.smart .box-bd .dright {
	float:right;
	width:992px;
	height: 614px;
}

.smart .box-bd .dright ul li {
	height: 300px;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    float: left;
    width: 234px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.smart .box-bd .dright ul li .img {
	width: 160px;
	height: 160px;
	overflow: hidden;
	margin: 0 auto;
}

.smart .box-bd .dright ul li h3 {
	width: 100%;
	height: 40px;
	line-height: 20px;
	text-align: center;
	margin-top: 15px;
	padding: 0px 20px;
	overflow: hidden;
}

.smart .box-bd .dright ul li h3 a {
	font-size: 14px;
}

.smart .box-bd .dright ul li p {
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-top: 5px;
	color: #ff6700;
	overflow: hidden;
}

.item-active {
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.site-footer {
	width: 100%;
	background: #fff;
}

.list-inline {
	padding: 10px 0px 20px 0px;
}

.fc {
	padding-top: 20px;
}

.ahz-head {
    height: 50px;
    margin-top: 15px;
    background-color: #fff;
    border-bottom: 1px solid #e6e4d3;
}

.ahz-head .ahz-head-leftCon {
	height: 50px;
    line-height: 50px;
    float: left;
    margin: 0px;
    padding: 0px;
    color: #434a54;
    font-size: 18px;
    font-weight: normal;
}

.ahz-head .ahz-head-rightCon {
	height: 50px;
    line-height: 50px;
    float: right;
    font-weight: normal;
    font-size: 14px;
    color: #333;
}

.ahz-head .ahz-head-rightCon span {
	padding: 0px 20px;
}

.ahz-head .ahz-head-rightCon b {
    font-weight: normal;
    font-size: 13px;
    color: #ccd1d9;
}

.ahz-head .ahz-head-rightCon .buy {
	width: 140px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	float: right;
	background: #ff6700;
	margin-top: 10px;
	color: #fff;
	-webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.ahz-head .ahz-head-rightCon .buy:hover {
	background: #f25807;
}

.xq {
	background: #f8f8f8;
	padding: 20px 0px;
}

.xq .dimg {
	float: left;
	width: 392px;
}

.xq .dimg img {
	border: 1px solid #ddd;
	background: #fff;
	padding: 20px;
}

.xq .dms {
	float:left;
	width: 806px;
	padding-left: 30px;
}

.xq .dms p {
	height: 40px;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
	display: block;
	font-weight: bold;
	font-size: 16px;
	color: #005aa0;
}

.lby {
	background: #f5f5f5;
}

.lby .wrap ul {
	width: 100%;
	padding-top: 48px;
}

.lby .wrap ul li {
	float: left;
	width: 49%;
	background: #fff;
	margin: 0px 0px 20px 0px;
	padding: 15px;
	position: relative;
}

.lby .wrap ul li:nth-child(2n) {
	margin-left: 2%;
}

.lby .wrap ul li .img {
	float: left;
	width: 200px;
}

.lby .wrap ul li .info {
	width: 340px;
	margin-left: 15px;
	float: left;
}

.lby .wrap ul li h3 {
	height: 30px;
	overflow: hidden;
	margin-bottom: 10px;
}

.lby .wrap ul li h3 a {
	line-height: 30px;
	font-size: 18px;
}

.lby .wrap ul li .intro {
	height: 80px;
	line-height: 20px;
	overflow: hidden;
	color: #999;
	margin-bottom: 20px;
}

.lby .wrap ul li .info .price {
	font-size: 15px;
}

.lby .wrap ul li .info .price em {
	color:#ff6700;
}

.lby .wrap ul li .info .buy {
    display: inline-block;
    width: 158px;
    height: 38px;
    padding: 0;
    margin: 0;
    border: 1px solid #ff6700;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.lby .wrap ul li .info .buy a {
	width: 158px;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    color: #ff6700;
    display: block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.lby .wrap ul li .info .buy a:hover {
	background: #ff6700;
	color: #fff;
}

.lby .wrap .warring {
	text-align: center;
	padding: 50px 0px;
	font-size: 18px;
}

.lby .wrap .find {
	position: absolute;
	top: 0px;
	left:0px;
	height: 50px;
	line-height: 50px;
}

.lby .wrap .find em {
	font-weight: bold;
	font-size: 14px;
	padding: 0px 5px;
	color: #ff6700;
}




